
$bgColor: #FFFFFF;
$textColor: black;
$checkedItems: #7E7E82;
$checkedLinks: orange;


.aside-panel {
    background-color: $bgColor;
    width: 320px;
    height: 100%;
    position: fixed;
    flex-direction: column;
    left: 0;
    top: 0;
    display: block;
    z-index: 10;
    overflow: scroll;
    transition: 0.8s;
    transform: translateX(-120%)
}

.aside-panel--opened {
    transform: translateX(0);
}

.aside-panel__wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.aside-panel-header__image{
    margin-right: auto;
}

.aside-panel__container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items:center;

}

.aside-panel__container--positioned {
    padding: 18px 24px;
    column-gap: 16px;
}

.aside-panel__menu {
    list-style: none;
    position: relative;
    display: block;
}

.aside-panel__menu-item {
    position: relative;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    margin-top: 24px;
    color: $textColor;
    
}

.aside-panel__menu-item:first-child {
    margin-top: 0;
}

.aside-panel__menu-item--checked {
    color: $checkedItems
}

.aside-panel__menu-item--checked::before {
    content:url(../img/highlight_32px.svg);
    position: absolute;
    display: block;
    width: 4px;
    height: 32px;
    left: 0;
}

.aside-panel__menu-link { 
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: all 0.2s;
    
}

.aside-panel__menu-link {
    margin-left: 24px
}

.aside-panel__menu-link:hover {
    transform: translateY(-2px);
    color: $checkedLinks
}

.aside-panel__footer {
    width: 100%;
    display: block;
    
}

.aside-panel__footer--positioned {
    margin-top: auto;
}

.aside-panel__buttons-container {
    display: flex;
    column-gap: 16px;
}

.aside-panel__container--display_blocked {
    display: block;
}

.aside-panel__item {
    transition: all 0.5s;
    text-decoration: none;
    padding-right: 20px;
    line-height: 24px;
    font-style: normal;
    color: $textColor;
}

.aside-panel__email {
    font-family: 'TTLakes-Medium';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    margin-top: 16px;
    display: block;
}

.aside-panel__tel {
    font-family: 'TTLakes-Bold';
    color: $textColor;
    line-height: 32px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.6px;
    white-space: nowrap;
    margin-top: 12px;
    display: block;
    
}

.aside-panel__tel:hover, .aside-panel__email:hover {
    box-shadow: 2px 2px 2px 2px $textColor;
}

.aside-panel__container--positioned_s {
    gap: 7px;
    margin-top: 8px;  
}

.aside-panel__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.aside-panel__label {
    transition: all 0.3s;
}

.aside-panel__input:checked + .aside-panel__label {
    color: #7E7E82;;
    transform: translateY(0px)
}

.aside-panel__label:hover {
    cursor: pointer;
    color: $checkedLinks;
    transform: translateY(-2px)
}



@media screen and (min-width: 768px) {
    .aside-panel {
        width: 320px;
    }
}

@media screen and (min-width: 1440px) {
    .aside-panel {
        display: block;
        position: relative;
        height: auto;
        z-index: 8;
        transform: translate(0);
    }

    .aside-panel__container--positioned {
        padding-top: 32px;
       padding-bottom: 32px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .aside-panel__wrapper {
        height: 100vh;
    }

    .aside-panel__footer {
        margin-top: auto;
    }

    .cross {
        display: none;
    }
}